name: Sestaven칤 a nahr치n칤 projektu na 코koln칤 FTP 칰캜et

on:
  push:
    tags:
      - "*"
jobs:
  build_and_deploy_job:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    name: Sestaven칤 a nahr치n칤 projektu
    steps:
      - name: Checkout 游뚴
        uses: actions/checkout@v3
      - name: Spr치vce bal칤k콢 pnpm 游
        uses: pnpm/action-setup@v2
        with:
          version: "latest"
      - name: NodeJS 游
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "pnpm"
      - name: Tokeny & secrets 游댐
        env:
          TOKEN: ${{ secrets.TOKEN }}
          MAIL: ${{ secrets.MAIL }}
          FOOD: ${{ secrets.FOOD }}
        run: |
          sed -i "0,/REDACTED/s//$TOKEN/" ./public/backend/config.php
          sed -i "0,/REDACTED/s//$MAIL/" ./public/backend/config.php
          sed -i "0,/REDACTED/s//$FOOD/" ./public/backend/config.php
      - name: Sestaven칤 str치nky 游댣
        run: |
          pnpm install
          pnpm run build
      - name: Nahr치n칤 na server 游늭
        uses: sebastianpopp/ftp-action@releases/v2
        with:
          localDir: "./dist/"
          host: ftp.ssps.cz
          user: ${{ secrets.FTP_USER}}
          password: ${{ secrets.FTP_PASSWORD }}
          options: "--delete --exclude .htaccess --exclude persistent/ --exclude-glob *.db"
